//region Variables
//==============================================
$greyShadowColor: rgba(167, 196, 220, 0.5);
$redShadowColor: rgba(195, 51, 51, 0.5);
$sliderColor: hsla(0,0%,97.6%,.5);
$borderColor: #FBFBFB;
$redFontColor: #E66549;

$defaultFontSize: 14px;
$singleToggleHeight: 3.5rem;
//==============================================
//endregion

//region Header
//==============================================
@import url('https://fonts.googleapis.com/css?family=Muli:700');

html {
  font-size: $defaultFontSize;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
//==============================================
//endregion

//region Header
//==============================================
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
//==============================================
//endregion

//region Content
//==============================================
.toggles-card {
  display: flex;
  max-width: 50rem;
  margin: 2rem auto;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem 0.5rem $greyShadowColor;
  background-color: white;

  p {
    text-align: center;
  }

  .single-toggles-container {
    margin: 3rem 0;

    .single-toggle-wrapper {
      position: relative;
      min-height: $singleToggleHeight;
      margin: 0.75rem 0;

      .slider {
        @include transition(left 300ms ease-in-out);
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        border-radius: $singleToggleHeight / 2;
        background: $sliderColor;
        box-shadow: 0 0 6px 1px $redShadowColor;

        &.left {
          left: 0;
        }

        &.right {
          left: 50%;
        }
      }

      .single-toggle {
        position: relative;
        min-width: 22rem;
        min-height: $singleToggleHeight;
        display: flex;
        align-items: center;
        align-content: center;
        border: 1px solid $borderColor;
        border-radius: $singleToggleHeight / 2;
        box-sizing: border-box;
        cursor: pointer;

        .answer {
          @include transition(color 300ms);
          width: 50%;
          text-align: center;
          padding: 0.25rem $singleToggleHeight / 2;

          &.active {
            color: $redFontColor;
          }
        }
      }
    }
  }
}
//==============================================
//endregion