@import url('https://fonts.googleapis.com/css?family=Muli:700');

html {
  font-size: 16px;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.toggles-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .statement {

  }

  .single-toggles-container {

    .single-toggle{
      display: flex;

      .answer {
        margin: 1rem;
        cursor: pointer;

        &.active {
          color: red;
        }
      }
    }

  }

  .result {

  }

}